src/main/resources/pagos.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.edu.cibertec.com/pagos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.edu.cibertec.com/pagos" targetNamespace="http://www.edu.cibertec.com/pagos">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.edu.cibertec.com/pagos">

    <!-- Solicitud para listar pagos -->
    <xsd:element name="ListaPagosRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="fechaInicio" type="xsd:string"/>
                <xsd:element minOccurs="0" name="fechaFin" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Respuesta para listar pagos -->
    <xsd:element name="ListaPagosResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="listaPagos" type="tns:PagoObject"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Solicitud para crear un pago -->
    <xsd:element name="CreacionPagoRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fechaPago" type="xsd:string"/>
                <xsd:element name="montoTotal" type="xsd:double"/>
                <xsd:element name="moneda" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Respuesta para la creación de un pago -->
    <xsd:element name="CreacionPagoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="estado" type="xsd:string"/>
                <xsd:element name="mensaje" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Objeto que describe un pago -->
    <xsd:complexType name="PagoObject">
        <xsd:sequence>
            <xsd:element name="idPago" type="xsd:int"/>
            <xsd:element name="fechaPago" type="xsd:string"/>
            <xsd:element name="montoTotal" type="xsd:double"/>
            <xsd:element name="moneda" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Definición de un objeto de registro de pagos -->
    <xsd:element name="RegistroPagoObject">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idPago" type="xsd:int"/>
                <xsd:element name="fechaPago" type="xsd:string"/>
                <xsd:element name="montoTotal" type="xsd:double"/>
                <xsd:element name="moneda" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreacionPagoResponse">
    <wsdl:part element="tns:CreacionPagoResponse" name="CreacionPagoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ListaPagosRequest">
    <wsdl:part element="tns:ListaPagosRequest" name="ListaPagosRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ListaPagosResponse">
    <wsdl:part element="tns:ListaPagosResponse" name="ListaPagosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreacionPagoRequest">
    <wsdl:part element="tns:CreacionPagoRequest" name="CreacionPagoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PagosPort">
    <wsdl:operation name="CreacionPago">
      <wsdl:input message="tns:CreacionPagoRequest" name="CreacionPagoRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreacionPagoResponse" name="CreacionPagoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPagos">
      <wsdl:input message="tns:ListaPagosRequest" name="ListaPagosRequest">
    </wsdl:input>
      <wsdl:output message="tns:ListaPagosResponse" name="ListaPagosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PagosPortSoap11" type="tns:PagosPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreacionPago">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreacionPagoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreacionPagoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPagos">
      <soap:operation soapAction=""/>
      <wsdl:input name="ListaPagosRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ListaPagosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagosPortService">
    <wsdl:port binding="tns:PagosPortSoap11" name="PagosPortSoap11">
      <soap:address location="http://localhost:8080/ws/pagos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>